<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">JqL8zRFa</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@big-data-3.logti.etsmtl.ca:1521:LOG660</property>
        <property name="hibernate.connection.username">equipe29</property>
        <property name="hibernate.default_schema">EQUIPE29</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="Film.hbm.xml" />
        <mapping resource="GenreFilm.hbm.xml" />
	<mapping resource="FilmPays.hbm.xml" />
	<mapping resource="Scenariste.hbm.xml" />
	<mapping resource="PersonnageFilm.hbm.xml" />
	<mapping resource="PersonneCinema.hbm.xml" />
    </session-factory>
</hibernate-configuration>
